* {
    background-color: #F6F6F6;
}

html {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Domine', serif;
}

h1 {
    color: darkslategrey;
}

#top {
    text-align: center;
}

main {
    width: 50%;
    margin: auto;
}