* {
    background-color: #F6F6F6;
}

html {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Domine', serif;
}

h1 {
    color: darkslategrey;
}

#top {
    text-align: center;
}

main {
    width: 50%;
    margin: auto;
    padding-top: 150px;
}

/* Navigation Bar Styling */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-title {
    display: none;
}

.nav-bar li {
    display: inline;
}

.nav-bar li a {
    padding: 0px 12px 0px 0px;
}

/* Link Styling */
a {
    text-decoration: none;
    color: rgb(88, 85, 156);
}

a:hover {
    font-weight: bold;
}