* {
    background-color: #F6F6F6;
}

html {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Domine', serif;
}

hr + h1 {
    color: darkslategray;
}

#top {
    text-align: center;
}

main {
    width: 50%;
    margin: auto;
    padding-top: 150px;
}

/* Navigation Bar Styling */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-title {
    display: none;
}

.nav-bar li {
    display: inline;
}

.nav-bar li a {
    padding: 0px 12px 0px 0px;
}

/* Link Styling */
a {
    text-decoration: none;
    color: rgb(88, 85, 156);
}

a:hover {
    font-weight: bold;
}

/* Journal Styling */
/* Header */
.header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

.title {
    font-size: 0.9rem;
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
}

.subtitle {
    font-size: 2rem;
    margin: 0.5rem 0 0.5rem 0;
}

.date {
    font-size: 1rem;
    color: hsl(0, 0%, 50%);
    margin-top: 0;
}
/* Content */
p.thoughts::first-letter {
    font-size: larger;
    font-weight: bold;
}
.lights {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.lights > section {
    max-width: 50%;
    max-height: 100%;
}

p ~ ol {
    font-size: 0.9rem;
}

ol + li {
    font-weight: bold;
}

/* Image */
img, video {
    display: block;
    margin: auto;
    height: 250px;
    width: 250px;
    object-fit: cover;
    padding: 1rem;
}

/* FORM */
/* Journal Entry Grid */
@media only screen and (min-width: 768px) {
    img, video {
        height: 500px;
        width: 500px;
    }
    .journal-entry-form {
        display: grid;
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
        grid-template-columns: auto auto auto;
        justify-items: stretch;
    }
    .journal-entry-form fieldset {
        width: 250px;
        max-width: 100%;
    }

    .item-1 {
        grid-column: 1;
    }

    .item-2 {
        grid-column: 1;
        grid-row: 2;
    }
}

.item-3 {
    grid-column: 2;
    grid-row: 1 / span 2;
}

/* Journal Entry Form */
fieldset {
    border-style: solid none none none;
    border-color: rgba(18, 31, 31, 0.3);
}

textarea[name="message"] {
    border-radius: 0.5rem;
    padding: 1rem;
    border-color: rgba(18, 31, 31, 0.3);
    border-width: 2px;
}

input, select, .submit-btn {
    border-radius: 0.25rem;
    border-color: rgba(18, 31, 31, 0.3);
    padding: 0.5rem;
}

input:active, textarea:active {
    background: lightgoldenrodyellow;
}

.submit-btn {
    cursor: pointer;
}

.submit-btn:hover {
    background: rgba(18, 31, 31, 0.3);
}

/* Footer */
footer p {
    position: static;
    text-align: center;
}
footer a {
    position: relative;
}